@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Manrope&family=Roboto+Slab:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --bg: #f38530b4;
    --bg2: #fa6800;
    --bgB2: #da5d05;
    --color: black;
    --animasiTex: rgb(14, 188, 211);
    --animasiButton: colorChange 2s infinite alternate;
    --hr: rgb(21, 21, 245);
}

.dark-mode{
    --bg:  #333;
    --bg2:  #333;
    --bgB2:  #333;
    --color: white;
    --animasiTex: rgb(180, 180, 27);
    --animasiButton: colorChange2 2s infinite alternate;
    --hr: rgb(15, 238, 15);
}

body {
    background-color: var(--bg);
    display: flex;
    padding-top: 42px;
    padding-bottom: 42px;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    gap: 90px;
}


nav{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around; 
    align-items: center;
}



.box{
    /* border: 1px solid; */
    height: 90vh;
    width: 90%;
    background-color: var(--bg2);
    border-radius: 30px;
    box-shadow: 0 0 50px#1a0e07;
}

.box2{
        /* border: 1px solid; */
        display: flex;
        height: 90vh;
        width: 90%;
        background-color: var(--bg2);
        border-radius: 30px;
        box-shadow: 0 0 50px#1a0e07;
        overflow: hidden;
}

.profil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    border-right: 1px solid;
    width: 500px;
    height: 600px;
    background: var(--bgB2);
}

.profil img{
    width: 200px;
    border-radius: 50px;
}

.box2 .profil hr{
    width: 150px;
    border: none;
    height: 1.9px;
    background: var(--hr);
}

.box2 .profil .nama{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.box2 .profil .nama p{
    font-weight: bold;
    font-family: 'League Spartan';
    font-size: 20px;
    color: var(--color);
}

.bawah a{
    color: var(--color);
}

.box3{
    /* border: 1px solid; */
    height: 90vh;
    width: 90%;
    background-color: var(--bg2);
    border-radius: 30px;
    box-shadow: 0 0 50px#1a0e07;
}

.boxRight .busy{
    /* border: 1px solid; */
    color: var(--color);
    width: 400px;
    padding: 10px;
    margin-bottom: 62px;
}

.boxRight .busy2{
    /* border: 1px solid; */
    color: green;
    margin-bottom: 30px;
    width: 400px;
    padding: 10px;
    margin-left: 300px;
}

.boxRight .busy3{
    /* border: 1px solid; */
    width: 300px;
    padding: 10px;
}

.boxRight .busy3 ul{
    display: flex;
    justify-content: space-evenly;
}

.boxRight .busy3 ul li{
    list-style: none;
    font-size: 26px;
}

.box4{
    /* border: 1px solid; */
    height: 90vh;
    width: 90%;
    background-color: var(--bg2);
    border-radius: 30px;
    box-shadow: 0 0 50px#1a0e07;
}

/* Gaya untuk mode terang */
/* .dark-mode {
    background-color: #333;
    color: #fff;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
/* }  */

.im{
    /* border: 1px solid; */
    width: 240px;
    margin-left: 20px;
}

/* {
    height: 43px;
} */

.im img{
    width: 240px;
}

.im img:hover{
    /* position: absolute; */
    border: 1px solid blueviolet;
    box-shadow: 0 0 60px black;
    border-radius: 30px;
    margin-top: 2px;
    width: 230px;
    
}

.crep{
    /* border: 1px solid; */
    height: 61vh;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.web2{
    width: 403px;
}

.web2 ul{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-around;
}

.web2 ul li a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color);
    font-family: Roboto Slab;
    font-weight: bold;
}

.web2 ul li {
    list-style: none;
}

.web2 ul li a:hover{
    color: rgb(16, 236, 16);
    font-weight: lighter;
    font-size: larger;
}

.text-animasi {
    position: absolute;
    /* border: 1px solid; */
    /* margin-top: 3px; */
    /* margin-right: 953px; */
    /* font-size: 24px; */
    font-weight: bold;
    font-family: Roboto Slab;
    /* white-space: nowrap; */
    color: var(--animasiTex);
    overflow: hidden;
    border-right: 2px solid #1566b3; /* Simulasikan kursor yang berkedip */
}

span h4{
    margin-top: 23px;
}

button {
    /* right: 123px; */
    /* position: absolute; */
    padding: 10px 20px;
    font-size: 18px;
    /* width:40px; */
    /* cursor: pointer; */
    border: 1px solid;
    /* background-color: blue; */
    /* color: blue; */
    background: none;
    border: none;
    border-radius: 70px;
    animation: var(--animasiButton);
}


button i{
    /* width: 1px; */
    /* height: 100px; */
    border: 9px solid transparent;
    cursor: pointer;
    /* border-top: 4px solid #333; */
    border-radius: 100%;
    animation: spin 2s linear infinite;
}

@keyframes colorChange2 {
    0% {
        /* background-color: #333; */
        color: #fff;
    }
    100% {
        /* background-color: #fff; */
        color: grey;
    }
}

@keyframes colorChange {
    0% {
        /* background-color: #333; */
        color: #fff;
    }
    100% {
        /* background-color: #fff; */
        color: #333;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.avatar img{
    /* position: absolute; */
    width: 360px;
    height: 1%;
    margin-bottom: 23px;
    border-radius: 60px;
    margin-left: 203px;
    /* background-color: rgb(20, 66, 105); */
}