@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');

*{
   padding: 0; 
   margin: 0;
}

:root{
    --gak-biasa: flex;
}

body{
    background-color: black;
    /* display: var(--gak-biasa); */
    /* border: 1px solid; */
    /* height: 100vh; */
}

.wraper{
    /* position: absolute; */
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

span{
    color: white;
    font-family: 'League Spartan';
}