@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&display=swap');

*{
   padding: 0; 
   margin: 0;
}

:root{
    --gak-biasa: flex;
}

body{
    background-color: #1560bd;
}

.wraper{
    /* position: absolute; */
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

span{
    color: rgb(66, 54, 54);
    font-family: 'League Spartan';
    font-weight: bolder;
}

.wraper h3{
    font-size: 30px;
    line-height: 54px;
}

.wraper h4{
    line-height: 19px;
}

.wraper a{
    color: aqua;
}

.wraper a:hover{
    color: greenyellow;
}

